.App {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 25px; /* Remove extra margins */
}

.container {
  padding: 20px;
  border-radius: 10px;
  background: #ffffff;
  box-shadow: 5px 5px 12px #666666, -5px -5px 12px #ffffff;
  width: 100%; /* Make it responsive */
  height: auto; /* Remove fixed height to allow the container to grow */
  margin: 20px; /* Adjust margin */
}

.container h1 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

ul {
  list-style-type: none;
  padding: 0; /* Remove default padding */
  margin: 0;
}

li {
  margin-bottom: 8px;
  margin-left: 10px;
  margin-right: 10px;
}

p {
  text-align: center;
}

.btnnn {
  width: 100%;
  height: 40px;
  border-radius: 5px;
  cursor: pointer;
  border: 1px solid #ccc;
  background: #20b90b;
}
.btnnn:disabled {
  background-color: lightgrey;
  cursor: not-allowed;
}

.container-table {
  padding: 20px;
  margin-bottom: 30px;
  border-radius: 10px;
  margin-top: 30px;
  width: 100%; /* Responsive width */
  max-width: 600px; /* Limit width */
  box-shadow: 5px 5px 12px #666666, -5px -5px 12px #ffffff;
}

.border-radius{
  padding: 20px;
  border-radius: 10px;
  width: 100%; /* Make it responsive */
  height: auto; /* Remove fixed height to allow the container to grow */
 
}
